# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/node_modules

# dependencies
webui/node_modules
webui/dist
webui/tmp
webui/out-tsc
webui/npm-debug.log
webui/coverage
webui/.scannerwork
src/main/resources/public

MC_*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


*.java.hsp
*.sonarj
*.sw*
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/


spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

webui/.npmrc
/webui/package-lock.json
/package-lock.json
/ApplicationProperties.bak
/com
/org
/io
/net
/ch
/oro
/stax
/log4j
/javax
/jline
/antlr
/dom4j
/commons-lang
/commons-digester
/commons-validator
/commons-beanutils
/commons-configuration
/commons-fileupload/commons-fileuploadF

/commons-codec
/commons-httpclient
/commons-io
/commons-cli
/commons-logging
/commons-collections
/oracle
/junit
/joda-time
/aopalliance
/xalan
/xerces
/xml-apis
/xom
/stax
/classworlds
/backport-util-concurrent
/asm
/commons-fileupload
/pl


/webui/.npmrc
/package-lock.json
/ApplicationProperties.bak

MC-Prod.txt.10-21-2019
mqjms.log.0
mqjms.log.0.lck
